.contenedor{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    box-sizing: border-box;
    background-color: gray;
    border-radius: 30px;
}

.carta{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 300px;
    background-color: aqua;
    margin: 20px;
}

.imagen-cocktails{
    width: 150px;
    height: 200px;
    transition: 0.3s;
}

.carta:hover > .imagen-cocktails{
    scale: 1.02;
    transition: 0.3s;
}

.carta{
    text-decoration: none;
}

.carta > p{
    margin: 0;
    color: black;
}

.contenedor-categorias{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
    margin: 30px 0;
    padding: 5px;
    background-color: rgb(240, 141, 12);
}

.boton-cat{
    width: 100px;
    margin: 0 0 0 100px;
    text-align: center;
    font-family: sans-serif;
    background-color: aqua;
}

.boton-cat:hover ~ .categorias{
    width: 700px;
    padding: 0 0 0 30px;
    transition: 1s;
} 

.categorias{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    box-sizing: border-box;
    background-color: cadetblue;
    transition: 1s;
}

.categorias > p {
    min-width: 90px;
    text-align: center;
    margin: 0 30px 0 0;
    padding: 7px;
    cursor: pointer;
    font-family: sans-serif;
    background-color: antiquewhite;
}

.categorias p.activa{
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.producto14{ /*ropa de hombres*/
    background-color: rgb(40, 225, 89);
}

.producto8{ /*joyeria*/
    background-color: rgb(59, 40, 225);
}

.producto11{ /*joyeria*/
    background-color: rgb(225, 55, 40);
}

.producto16{ /*joyeria*/
    background-color: rgb(194, 225, 40);
}